@media only screen and (max-width:1440px) {
    .managemen-services {
        max-width: 500px;
    }
}

@media only screen and (max-width:1220px) {
    .container {
        padding: 0 90px;
    }

    .navbar {
        justify-content: space-between;
        padding: 0px;
    }

    .navigations ul {
        gap: 16px;
        justify-content: end;
    }

    .managemen-services {
        max-width: 400px;
    }

    .promotion-box {
        display: flex;
        justify-content: center;
    }

    .promotion-box img {
        max-width: 1000px;
        width: 100%;
        height: auto;
        padding: 30px 0;
    }
}

@media only screen and (max-width:1024px) {
    .container {
        padding: 0 60px;
    }

    .green-image {
        max-width: 127px;
        height: 127px;
    }

    .yellow-image {
        max-width: 32px;
        height: 32px;
    }

    .box-frame-image {
        bottom: -15px;
        right: 10px;
    }

    .side-frame {
        left: -60px;
        max-width: 150px;
        width: 100%;
        height: 130px;
        z-index: 2;

    }


    /* customer section  */
    .managemen-services {
        width: 400px;
    }
}

@media only screen and (max-width:992px) {

    .navigations {
        width: 684px;
        height: 24px;
    }

    .navigations ul {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }

    .navigations ul li {
        font-size: 12px;
    }

    span>img {
        height: 10px;
        width: 10px;
    }

    .box-title h1 {
        font-size: 40px;
    }

    .green-image {
        bottom: 30px;
        max-width: 100px;
        height: 100px;
    }

    .yellow-image {

        top: 0px;
        right: 50px;
        max-width: 32px;
        width: 100%;
        height: 32px;
    }

    .box-frame {
        bottom: -0px;
        right: -30px;
        max-width: 180px;

    }

    .side-frame {
        top: 70px;
        left: -70px;
        max-width: 150px;
        height: 120px;
    }

    .features-main-boxes {

        grid-template-columns: 46% 52%;
        gap: 40px;
        align-items: center;

    }


    .managemen-services {

        gap: 10px;


    }

    /* customer section  */
    .managemen-services {
        width: 350px;
    }

    .companies-details {
        width: 100%;
        justify-content: space-between;
    }


}

@media only screen and (max-width:792px) {
    .toggle {
        display: block;
        cursor: pointer;
    }

    header {
        position: static;
    }

    .navigations {

        border-radius: 10px;
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        height: 450px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: left 0.4s ease;
    }

    .navigations.active {
        left: 0;
    }

    .navigations ul {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .navigations ul li a {
        font-size: 1.5rem;
        color: white;
    }

    .navbar {
        justify-content: space-between;
    }

    .hero-section {
        gap: 50px;
        margin: 0;

    }

    .box-menu {
        width: 100%;
    }

    .box {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .box-title h1 {
        font-size: 56px;
    }

    .box-description p {
        font-size: 1.5rem;
    }

    .box-menu1 {
        display: flex;
        justify-content: space-around;
        margin-top: 0px;
        width: 100%;
    }

    .green-image {
        left: -10px;
        bottom: 50px;
        max-width: 147px;
        height: 147px;
    }


    .yellow-image {
        top: 10px;
        right: 80px;
        max-width: 39px;
        height: 39px;
    }

    .box-frame {
        bottom: 15px;
        right: -5px;
        max-width: 200px;
    }

    .side-frame {
        top: 90px;
        left: -80px;
        max-width: 180px;
        height: 150px;
    }

    .features-main-boxes {
        grid-template-columns: 1fr;
        /* Single column layout */
        gap: 30px;
        /* Adjust gap as needed */
    }

    /* Center the contents within each box */
    .feature-box-menu1,
    .feature-specs-menu {
        justify-content: center;
        align-items: center;
    }

    .feature-main-image,
    .feature-specs-details {
        justify-content: center;
        align-items: center;
        width: 100%;
        /* Ensure it takes full width */
        max-width: 400px;
        height: auto;
        /* Optional: Limit max width for smaller screens */
    }

    .box-frame-image {
        right: 35px;
        top: 40px;
        /* width: 150px;
        height: 70px; */
    }


    .colorbox-image {

        /* width: 120px;
        height: 50px; */
        right: 30px;
        bottom: 0px;

    }

    .whitebox-image {

        bottom: 120px;
        left: -20px;
        /* width: 80px;
        height: 80px; */
    }

    .exportImage-image {

        top: 40px;
        right: 0px;
        /* width: 130px;
        height: 50px; */
    }

    .storage-box-image {
        right: 20px;
        bottom: 0px;
        /* width: 120px;
        height: 70px; */
    }

    .side-bar-image {

        top: 190px;
        left: -40px;
        /* width: 100px;
        height: 80px; */
    }

    .feature-specs-menu {
        gap: 20px;
        /* Adjust the gap for smaller screens */
    }

    .D-spaces img {
        width: 36px;
        /* Adjust icon size */
        height: 36px;
    }

    .D-spaces-specs h1 {
        font-size: 18px;
        /* Adjust heading size */
    }

    .D-spaces-specs p {
        font-size: 14px;
        /* Adjust text size */
    }

    /* .features-main-boxes {
        max-width: 100%;
        margin: 20px 0;
        display: grid;
        grid-template-columns: auto;
        gap: 70px;
    }

    .feature-specs-menu {
        max-width: 80%;
    }

    .feature-box-menu1 {
        max-width: 80%;
    } */



    .customer-menu {
        gap: 0px;
    }


    .footer-enquiries {
        padding: 48px 0;

    }

    .box-1 {
        order: 2;

    }

    .box-2 {
        order: 1;
    }


}

@media only screen and (max-width:740px) {
    .grid-box {
        display: grid;
        grid-template-columns: auto;
        gap: 18px;
        max-width: 100%;
        justify-content: center;
        margin: 20px auto;
    }

    .managemen-services {
        width: 530px;
        gap: 18px;
    }

    .storage-div {
        max-height: 350px;
    }


}

@media only screen and (max-width:600px) {
    .container {
        width: 100%;
        padding: 0px 24px;
    }

    .box-title h1 {
        font-size: 52px;
    }


    .side-frame {
        top: 120px;
        left: -30px;
        max-width: 130px;
        height: 110px;
    }

    .box-description {
        width: 100%;
    }

    .managemen-services {
        width: 430px;
        gap: 10px;
    }

    .storage-div {
        max-height: 250px;
    }


}

@media only screen and (max-width:480px) {

    .box-sponcers {
        width: 100%;
        height: auto;
        justify-content: center;
        gap: 2rem;
    }

    .side-frame {
        top: 90px;
        left: -20px;
    }

    .box-sponcers img {
        width: 40%;
        height: auto;
    }

    .box-title h1 {
        font-size: 50px;
    }

    .box-description {
        width: 100%;
    }

    .box-description p {
        font-size: 1.5rem;
    }

    /* Hero section Ends  */
    .Advertice {
        width: 100%;
        height: auto;
    }

    .Advertice-logos {
        height: auto;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
        align-items: center;
        gap: 10px;
        animation: none;
    }

    /* ---  */

    .feature-title h1,
    .customer-title h1 {
        font-size: 24px;

    }

    .feature-title p,
    .customer-title p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .feature-main-image {
        max-width: 250px;
        height: auto;
    }

    /*.feature-specs-details {
        max-width: 250px;
        height: auto;
        
    }*/

    .D-spaces-specs h1 {
        font-size: 16px;

    }

    .D-spaces-specs p {
        font-size: 13px;
    }

    .feature-specs-details {

        align-items: center;

        width: 100%;

        gap: 16px;

    }


    .box-frame-image {
        right: 10px;
        width: 150px;
        height: 70px;
    }


    .colorbox-image {

        width: 120px;
        height: 50px;
        right: 10px;
        bottom: -10px;

    }

    .whitebox-image {

        bottom: 80px;
        left: -20px;
        width: 80px;
        height: 80px;
    }

    .exportImage-image {

        top: 40px;
        right: 0px;
        width: 130px;
        height: 50px;
    }

    .storage-box-image {
        right: 0px;
        width: 120px;
        height: 70px;
    }

    .side-bar-image {
        position: absolute;
        top: 120px;
        left: -20px;
        width: 100px;
        height: 80px;
    }

    .feature-specs-menu {
        max-width: 100%;
    }


    /* .features-main-boxes {
        max-width: 100%;
        margin: 50px 0;
        gap: 100px;
    }

    

    .feature-box-menu1 {
        width: 70%;
    }

    .feature-main-image {
        position: relative;
        width: 250px;
        height: 300px;
    } */






    .footer-enquiries {
        padding: 16px 18px;
        width: 100%;
        gap: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .promotion-box {
        display: none;
    }

    .promotion-box1 {
        display: block;
    }

    .promotion-box1 img {
        width: 100%;
        height: auto;
        padding: 0 24px;
        margin: 20px 0;
    }


    .storage-box {
        display: none;
    }

    .storage-box1 {
        display: block;
    }

    .storage-box1 img {
        width: 100%;
        height: 892px;
        text-align: center;

    }

    .managemen-services {
        gap: 10px;
        padding: 20px;
        width: 350px;
    }

    .footer-sponces {
        width: 80%;
        margin: auto;
        height: auto;
    }

    .footer-sponces img {
        width: 50%;
    }

    .liecence-sponsors {
        width: 100%;
        margin: auto;
    }

    .footer-enquiries {
        padding: 50px 0;
    }

}

@media only screen and (max-width:384px) {
    .box-title h1 {
        font-size: 38px;
    }

    .box-description p {
        font-size: 1rem;
    }

    .green-image {
        left: 0px;
        bottom: 30px;
        max-width: 77px;
        height: 77px;
    }

    .yellow-image {
        max-width: 24px;
        height: 24px;
    }

    .box-frame {
        max-width: 150px;
    }

    .side-frame {
        top: 90px;
        left: -20px;
        max-width: 120px;
        height: 100px;
    }

    .managemen-services {
        gap: 5px;
        padding: 20px;
        width: 300px;
        height: auto;
    }

}